<h2><%= @patient.name %></h2>
<p>
  Age: <%= @patient.age %>
</p>
Comments:
  <% @patient.age.each do |a| %>
    <%= link_to a.patient.appointment_datetime, user_path(patient.name) %> said
    <%= comment.content %>
  <% end %>
