<h2><%= @doctor.name %> </h2>
<h3>Department: <%= @doctor.department %></h3>

<h2>Appointment Date:</h2>
<% @doctor.appointments.each do |app| %>
  <%= link_to app.appointment_datetime, patient_path(patient) %>
<% end %>
