<h2><%= @doctor.name %> </h2>
<h3>Department: <%= @doctor.department %></h3>

<h2>Appointment Date:</h2>

<ul>
<% @doctor.appointments.each do |apmt| %>
  <li><%= apmt.appointment %> with: <%= link_to apmt.patient_name, apmt.patient %> </li>
<% end %>
</ul>
